<div class="nav-bar">
<ul>
    <li><a href="{{ path('app_category_showall') }}">Kategorie</a></li>
    <li><a href="{{ path('app_task_showall') }}">Zadania</a></li>
    <li><a href="{{ path('fos_user_security_logout') }}">Wyloguj</a></li>
</ul>
</div>